.accordion {
    background-color: rgb(14, 14, 14) !important;
    border-radius: 0 !important;
    margin-top: .1em;
    margin-bottom: .1em;
    box-shadow: 10em 10em black;
}
.icon {
    color: white !important;
}
.season {
    margin-left: 2em !important;
}
.accordionSummary {
    flex-direction: row !important;
    margin-left: 0.5em !important;
}
.spacer {
    color: rgba(0, 0, 0, 0) !important;
    margin-left: 8em;
}