.accordion {
    background-color: rgb(20, 20, 20) !important;
    border-radius: 0 !important;
    margin-top: .1em;
    margin-bottom: .1em;
    box-shadow: 10em 10em black;
}
.accordionDetails > div:hover {
    -webkit-box-shadow: 0 8px 6px -6px rgb(95, 0, 0) !important;
    -moz-box-shadow: 0 8px 6px -6px rgb(95, 0, 0) !important;
    box-shadow: 0 15px 10px -15px rgb(95, 0, 0) !important;
}
.icon {
    color: white !important;
    position: relative;
    right: 0em;
    bottom: 0em;
}
.season {
    margin-left: 2em !important;
}
.accordionSummary {
    flex-direction: row !important;
    margin-left: 0.5em !important;
    width:90%;
}
.spacer {
    color: rgba(0, 0, 0, 0) !important;
    margin-left: 7em;
}
.star {
    color: white !important;
    font-size: 1.2em !important;
    margin-right: .2em !important;
    margin-bottom: -.2em;
}
.accordionDetails > div {
    flex: 0 0 auto;
    margin-right: .8em;
    width: 85%;
    background-color: rgb(0, 0, 0);
    transition: .2s;
}
.accordionDetails {
    display: flex !important;
    overflow: auto !important;
    flex-wrap: nowrap !important;
    -webkit-overflow-scrolling: property !important;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    margin: auto;
    margin-top: 0 !important;
    padding-top: 0 !important;
    margin-bottom: 1em !important;
}
.accordionDetails::-webkit-scrollbar {
    height: .5em;   
}
.accordionDetails::-webkit-scrollbar-track {
    background: rgb(29, 29, 29) !important;
    margin-left: 1em;
}
.accordionDetails::-webkit-scrollbar-thumb {
    background-color: rgb(70, 70, 70);    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 2px solid rgb(42, 42, 42);  /* creates padding around scroll thumb */
}
.accordionDetails:last-of-type {
    margin-right: .5em !important;
}
.imageContainer {
    max-height:120px;
    overflow:hidden;
}
.container {
    margin-left: 1em;
    margin-right: 1em;
}
.imageGradient {
    background: rgba(0, 0, 0, 0) linear-gradient(to bottom, rgba(0, 0, 0, 0) 10%, rgba(0, 0, 0, 0.1) 40%, rgba(0, 0, 0, 0.5) 75%, rgb(0, 0, 0) 100%) repeat scroll 0 0;
    position: relative;
    margin-top: -200px;
    height: 200px;
}
.episodeInfo {
    padding: 1em;
    margin-top: 0 !important;
    padding-top: 0 !important;
}
.name {
    margin-top: 0 !important;
    padding-top: 0 !important;
    font-weight: bold;
}
.smallText {
    font-size: .9em;
}
.longText {
    font-size: .9em;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* number of lines to show */
    line-clamp: 3; 
    -webkit-box-orient: vertical;
}
.showMore {
    font-size: .9em;
    color: rgb(187, 187, 187);
}
.showMore:hover {
    color: white;
}
.longTextShow {
    font-size: .9em;
    color: rgb(187, 187, 187);
}
.displayNone {
    display: none;
}
.missingImage {
    margin-top: 1.5em;
}
@media only screen and (min-width: 425px) {
    .accordionDetails > div {
        width: 80%;
    }
    .imageContainer {
        max-height:160px;
        overflow:hidden;
    }
}
@media only screen and (min-width: 768px) {
    .accordionDetails > div {
        width: 40%;
    }
    .imageContainer {
        max-height:200px;
        overflow:hidden;
    }
}
@media only screen and (min-width: 1024px) {
    .accordionSummary {
        width:96%;
    }
    .imageContainer {
        max-height:240px;
    }
    .accordionDetails > div {
        width: 45%;
    }
}
@media only screen and (min-width: 1440px) {
    .accordionSummary {
        width:97%;
        padding-top: .5em !important;
        padding-bottom: .5em !important;
    }
    .season {
        font-size: 1.2em !important;
    }
    .icon {
        font-size: 2em !important;
    }
    .accordionDetails > div {
        width: 30%;
    }
    .container {
        font-size: 1.2em;
    }
    .accordionDetails::-webkit-scrollbar {
        height: .7em;
    }
}

