.notAdult {
    text-decoration-line: line-through !important;
    color: rgb(160, 160, 160) !important;
}
.chip {
    background-color:rgb(30, 30, 30) !important;
    color: rgb(160, 160, 160) !important;
    margin: .2em !important;
    text-align: center !important;
}
.buttonList {
    display: grid !important;
    grid-template-columns: 1fr 1fr !important;
    justify-items: center;
}
.tabClicked {
    border-bottom: 1px solid red !important;
    padding-bottom: .5em !important;
}
.tabNotClicked {
    border-bottom: none !important;
    padding-bottom: .5em !important;
}
.displayNone {
    display: none !important;
}
.shareButton {
    background-color:rgb(39, 39, 39) !important;
    color: white !important;
    padding: .7em !important;
}
.shareButtonGreen {
    background-color:rgb(36, 157, 72) !important;
    color: white !important;
    padding: .7em !important;
}
.missingPlayer {
    margin-bottom: 4em !important;
}
.title {
    margin-top: 0;
    margin-bottom: 0;
}
.voteAverage {
    color: rgb(160, 160, 160) !important;
}
.star {
    font-size: 1.5em !important;
    margin-right: .2em !important;
    margin-bottom: -.2em;
} 
.stars{
    color:red !important;
    font-size: 1.2em !important;
}
.imageCover {
    position: relative !important;
    padding-left: 1em;
    padding-right: 1em;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0), black);
}
.firstImageContainer {
    position: relative !important;
}
.tagline {
    margin-top: 0 !important;
    font-size: 0.9em;
    margin-bottom: 0.2em;
}
.starsContainer {
    line-height: 0;
}
.chipContainer {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.overview {
    color: rgb(255, 225, 0);
}