.notAdult {
    text-decoration-line: line-through !important;
}
.chip {
    background-color:rgb(30, 30, 30) !important;
    color: rgb(160, 160, 160) !important;
    margin: .2em !important;
    text-align: center !important;
}
.buttonList {
    display: grid !important;
    grid-template-columns: 1fr 1fr !important;
    justify-items: center;
}
.tabClicked {
    border-bottom: 1px solid red !important;
    padding-bottom: .5em !important;
}
.tabNotClicked {
    border-bottom: none !important;
    padding-bottom: .5em !important;
}
.displayNone {
    display: none !important;
}
.shareButton {
    background-color:rgb(39, 39, 39) !important;
    color: white !important;
    padding: .7em !important;
    width: 90%;
    margin-left: 1.1em !important;
    margin-top: .5em !important;
}
.shareButtonGreen {
    background-color:rgb(36, 157, 72) !important;
    color: white !important;
    padding: .7em !important;
    width: 90%;
    margin-left: 1.1em !important;
    margin-top: .5em !important;
}
.missingPlayer {
    margin-bottom: 4em !important;
}
.title {
    margin-top: 0;
    margin-bottom: 0;
}
.star {
    font-size: 1.5em !important;
    margin-right: .2em !important;
    margin-bottom: -.2em;
} 
.stars{
    color:red !important;
    font-size: 1.2em !important;
}
.imageCover {
    position: relative !important;
    padding-left: 1em;
    padding-right: 1em;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0), black);
}
.firstImageContainer {
    position: relative !important;
}
.tagline {
    margin-top: 0 !important;
    font-size: 0.9em;
    margin-bottom: 0.2em;
}
.starsContainer {
    line-height: 0;
}
.chipContainer {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.longText {
    font-size: .9em;
    margin-left: 1em;
    margin-right: 1em;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4; /* number of lines to show */
    line-clamp: 4; 
    -webkit-box-orient: vertical;
}
.showMore {
    margin-left: 1em;
    font-size: .9em;
    color: rgb(187, 187, 187);
    width: 5.1em;
}
.showMore:hover {
    border-bottom: .1em solid rgb(187, 187, 187);
}
.longTextShown {
    font-size: .9em;
    margin-left: 1em;
    margin-right: 1em;
}
.playButton {
    width: 90%;
    height: 3em;
    color: white;
    background-color: red;
    border: none;
    margin-left: 5% !important;
    margin-right: 5% !important;
}
.playArrow {
    font-size: 1.5em !important;
    margin-right: .2em !important;
    margin-bottom: -.2em;
}
.statsTitle {
    color: red;
}
.statsContainer {
    float: left;
    width: 33.3%;
    text-align: center;
    line-height: 10px;
    margin-bottom: 10px;
    font-size: 0.9em;
}
.statsContainer2 {
    float: left;
    width: 33.3%;
    text-align: center;
    border-left: 1px red solid;
    line-height: 10px;
    margin-bottom: 10px;
    border-image: linear-gradient(transparent 20%, rgb(255, 0, 0) 50% 30%, transparent 90%) 0 0 0 1 / 1px;
    font-size: 0.9em;
}
.statsContainer3 {
    font-size: 0.9em;
    float: left;
    width: 33.3%;
    text-align: center;
    border-left: 1px red solid;
    line-height: 10px;
    margin-bottom: 10px;
    border-image: linear-gradient(transparent 20%, rgb(255, 0, 0) 50% 30%, transparent 90%) 0 0 0 1 / 1px;
}
.statsGroupContainer {
    margin-top: 1em;
}
.chipsContainer {
    margin-left: .5em;
}
.sectionTitle {
    display:block;
    margin-left: 1em;
}
.sectionTitle::after {
    display:block;
    clear:both;
    content : "";
    position: relative;
    right    : 8.5em;
    bottom  : 0;
    max-width:250px;
    height  : 1px;
    width   : 10%;  /* or 100px */
    border-bottom:.2em solid #e2000f;
    margin: 0 auto;
    padding:4px 0px;
}
.videosContainer > a, 
.videosContainer > div {
    flex: 0 0 auto;
    margin-left: .5em;
    width: 70%;
    background-color: rgb(17, 17, 17);
}
.videosContainer {
    display: flex !important;
    overflow: auto !important;
    flex-wrap: nowrap !important;
    -webkit-overflow-scrolling: property !important;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
.videosContainer::-webkit-scrollbar {
    display: none !important;
}
.videosContainer > a:last-of-type,
.videosContainer > div:last-of-type {
    margin-right: .5em !important;
}
.imageGradient {
    background: rgba(17, 17, 17, 0) linear-gradient(to bottom, rgba(17, 17, 17, 0) 10%, rgba(17, 17, 17, 0.1) 40%, rgba(17, 17, 17, 0.5) 75%, rgb(17, 17, 17) 100%) repeat scroll 0 0;
    /* background: rgba(0, 0, 0, 0) linear-gradient(to bottom, rgba(0, 0, 0, 0) 10%, rgba(0, 0, 0, 0.1) 40%, rgba(0, 0, 0, 0.5) 75%, rgb(0, 0, 0) 100%) repeat scroll 0 0; */
    position: relative;
    margin-top: -200px;
    height: 200px;
}
.videoTitle {
    margin-bottom: 0;
    padding-bottom: 0;
    font-weight: bold;
    margin-left: 1em;
    margin-right: 1em;
}
.videosImageContainer {
    max-height:130px;
    overflow:hidden;
}
.videoSmallText {
    font-size: .9em;
    margin-left: 1em;
    margin-right: 1em;
}