.cover {
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(0, 0, 0, 0) 100%) !important;
    background-image: url('https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fcinemovie.tv%2Fimages%2Fstories%2FMoviePosters%2FAXL_Movie_Poster.jpg&f=1&nofb=1') !important;
    height: 100% !important;
    width: 100% !important;
}
.image {
    z-index: 0 !important;
}