.nav {
    background-color: black !important;
}
.searchIcon {
    position: absolute !important;
    right: 0 !important;
    margin-right: 0.5em !important;
}
.logo {
    flex-grow: 1 !important;
}
.container {
    flex-grow: 1 !important;
}
.menuButton {
    margin-right: 0.5em !important;
}
.menuList {
    background-color: rgb(29, 29, 29) !important;
    border-radius: 0.5em !important;
}
.menuItem {
    color: white !important;
}
.menuItem:hover {
    background-color: rgb(26, 26, 26) !important;
}
.menuListContainer {
    background-color: inherit !important;
}