.nav {
    background: linear-gradient(180deg, rgba(0,0,0,.80) 85%, rgba(0,0,0,0) 100%) !important;
    box-shadow: none !important;
    padding-bottom: .3em;
}
.searchIcon {
    position: absolute !important;
    right: 0 !important;
    margin-right: 0.5em !important;
}
.logo {
    flex-grow: 1 !important;
}
.container {
    flex-grow: 1 !important;
}
.menuButton {
    margin-right: 0.5em !important;
}
.menuList {
    background: linear-gradient(90deg, rgba(0,0,0,.80) 45%, rgba(255,255,255,0) 70%) !important;
    box-shadow: none !important;
    padding-right: 10em !important;
}
.menuItem {
    color: white !important;
}
.menuItem:hover {
    background-color: rgb(26, 26, 26) !important;
}
.menuListContainer {
    box-shadow: none !important;
    background-color: inherit !important;
    margin-left: -0.4em !important;
}