.carouselButton {
    background-color: rgba(40, 40, 40, 50%);
    border: none;
    color: rgb(220, 220, 220);
}
.carouselButton:hover {
    color: white;
    background-color: rgba(40, 40, 40, 70%);
}
.leftArrow {
    font-size: 3em !important;
    right: 60%;
    position: relative;
}
.rightArrow {
    font-size: 3em !important;
    right: 60%;
    position: relative;
}
.control-arrow {
    font-size: 26px !important;
}
.mainContainer {
    margin: 0 !important;
    padding: 0 !important;
}
.videoItemContainer {
    position: relative !important;
    width: 95%;
    padding-bottom: 50%;
    height: 100%;
    cursor: pointer;
}
.container {
    width: 100%;
    height: 200% !important;
}
.title {
    margin-left: .5em !important;
    line-height: .1em !important;
    margin-bottom: .7em !important;
    margin-top: 2em !important;
}
.mainContainer {
    margin-bottom: 2em !important;
}
@media only screen and (min-width: 768px) {
    .videoItemContainer {
        padding-bottom: 70%;
    }
    .title {
        font-size: 1.2em;
    }
}
@media only screen and (min-width: 1024px) {
    .title {
        font-size: 1.5em;
    }
    .videoItemContainer {
        padding-bottom: 80%;
    }
    .leftArrow {
        font-size: 4em !important;
        right: 40%;
        position: relative;
    }
    .rightArrow {
        font-size: 4em !important;
        right: 40%;
        position: relative;
    }
    .carouselButton {
        width: 3em !important;
    }
}
@media only screen and (min-width: 1440px) {
    .title {
        font-size: 2em;
    }
    .videoItemContainer {
        margin-left: .7em !important;
        margin-right: .7em !important;
    }
    .videoItemContainer {
        padding-bottom: 85%;
    }
}