.image {
    border-radius: .2em;
    position: relative !important;
    z-index: 1 !important; 
}
.container {
    position: relative !important;
    width: 6em !important;
    height: 9em !important;
}
.overlay {
    position: absolute !important;
    top: 0px !important;
    z-index: 2 !important;
    background-color: rgb(221, 1, 1);
    text-align: center !important;
    right: 0px !important;
    margin-top: 0 !important;
    line-height: 1em !important;
    padding: .2em !important;
    border-radius: 0 .2em 0 0;
}
.top {
    font-size: .8em !important;
}